<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <title>Bạn không có quyền truy cập hệ thống</title>
</head>
<body>
<section layout:fragment="header">
    <h1 class="text-center">Bạn không có quyền truy cập hệ thống</h1>
    <div class="text-center" style="margin-top: 10px"><a class="btn btn-primary" href="/"><i class="fa fa-home"></i> Quay lại trang chủ</a></div>
</section>
</body>
</html>