<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<title>Home</title>
</head>
<body>
<div layout:fragment="content">
	<div id="slider">
		<ul>
			<li style="background-image: url(images/kimcuong.jpg)">
				<h3>Làm cho cuộc sống tươi đẹp hơn</h3>
				<h2>Kim cương chính hãng</h2>
				<a href="#" class="btn-more">Đọc thêm</a>
			</li>
			<li class="purple" style="background-image: url(images/01_new.jpg)">
				<h3>Cô ấy sẽ nói "em đồng ý"</h3>
				<h2>Nhẫn Cưới</h2>
				<a href="#" class="btn-more">Đọc thêm</a>
			</li>
			<li class="yellow" style="background-image: url(images/vongtayvang.jpg)">
				<h3>Bạn xứng đáng được làm đẹp</h3>
				<h2>Vòng tay vàng</h2>
				<a href="#" class="btn-more">Đọc thêm</a>
			</li>
		</ul>
	</div>
	<!-- / body -->

	<div id="body">
		<div class="container">
			<div class="last-products">
				<h2>Sản phẩm bán chạy</h2>
				<section class="products">
					<article>
						<img src="images/1.jpg" alt="">
						<h3>Excepteur sint occaecat</h3>
						<h4>$1 850.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/11.jpg" alt="">
						<h3>Lorem ipsum dolor</h3>
						<h4>$990.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/12.jpg" alt="">
						<h3>cupidatat non proident</h3>
						<h4>$1 200.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/13.jpg" alt="">
						<h3>Duis aute irure</h3>
						<h4>$2 650.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/14.jpg" alt="">
						<h3>magna aliqua</h3>
						<h4>$3 500.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
				</section>
			</div>
			<div class="last-products">
				<h2>Sản phẩm mới nhất</h2>
				<section class="products">
					<article>
						<img src="images/1.jpg" alt="">
						<h3>Excepteur sint occaecat</h3>
						<h4>$1 850.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/11.jpg" alt="">
						<h3>Lorem ipsum dolor</h3>
						<h4>$990.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/12.jpg" alt="">
						<h3>cupidatat non proident</h3>
						<h4>$1 200.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/13.jpg" alt="">
						<h3>Duis aute irure</h3>
						<h4>$2 650.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
					<article>
						<img src="images/14.jpg" alt="">
						<h3>magna aliqua</h3>
						<h4>$3 500.00</h4>
						<a href="/product" class="btn-add">Xem chi tiết</a>
					</article>
				</section>
			</div>
			<section class="quick-links">
				<article style="background-image: url(images/2.jpg)">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>Lorem ipsum</h4>
								<hr>
								<h3>Dolor sit amet</h3>
							</div>
						</div>
					</a>
				</article>
				<article class="red" style="background-image: url(images/3.jpg)">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>consequatur</h4>
								<hr>
								<h3>voluptatem</h3>
								<hr>
								<p>Accusantium</p>
							</div>
						</div>
					</a>
				</article>
				<article style="background-image: url(images/4.jpg)">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>culpa qui officia</h4>
								<hr>
								<h3>magnam aliquam</h3>
							</div>
						</div>
					</a>
				</article>
			</section>
		</div>
		<!-- / container -->
	</div>
</div>
</body>
</html>