<script th:inline="javascript">
    /*<![CDATA[*/
    var paging = new Pagination();
    $(document).ready(function () {
        $("#modalCreate").on("show.bs.modal", function () {
            configFormInput();
            validateFormInput();
        });

        $("#modalCreate").on("shown.bs.modal", function () {
            $('#modal_txt_name').focus();
        });

        $("#modalCreate").on("hidden.bs.modal", function () {
            resetFormModal();
        });
        registerEvents();
        loadListUnit();


    });

    function openAddModal() {
        $("#modalCreate").modal({
            backdrop: 'static',
            keyboard: false
        });
    }

    function formatdate(year, month, day, hours, minutes, seconds) {
        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;
        if (hours.length < 2)
            hours = '0' + hours;
        if (minutes.length < 2)
            minutes = '0' + minutes;
        if (seconds.length < 2)
            seconds = '0' + seconds;
        return [year, month, day].join('-') + " "
            + [hours, minutes, seconds].join(':')
    }

    var loadListUnit = function () {
        paging.reset();
        loadListPagingUnit();
    };

    function loadListPagingUnit() {
        var page = paging.currentPage() || 1;
        var limit = paging.limit() || 10;
        getRequest({
            url: "/admin/getUser?page=" + page + "&limit=" + limit,
            success: function (data) {
                cbLoadListPagingCatecory(data);
            },
            error: function (e) {

            }
        });
    }

    function search() {
        var name = $('#txt_name').val();
        var username = $('#txt_code').val();

        var page = paging.currentPage() || 1;
        var limit = paging.limit() || 10;

        getRequest({
            url: "/admin/searchUser?page=" + page + "&limit=" + limit + "&name=" + name + "&code=" + username,
            success: function (data) {
                cbLoadListPagingCatecory(data);
            },
            error: function (e) {

            }
        });

    }

    function cbLoadListPagingCatecory(data) {
        console.log(data);
        paging.init('paging', loadListPagingUnit, data);
        var list = data['content'] || [];
        if (list.length == 0) {
            $('#tbody_data')
                .html(
                    '<td colspan="100%" style="text-align: center">Không có dữ liệu</td>');
            return;
        }
        var html = '';
        var size = paging.size() || 10;
        var number = paging.currentPage() || 1;
        var cls;
        number -= 1;
        for (var i = 0; i < list.length; i++) {
            var item = list[i];

            var date = new Date(item['created_date']), month = ''
                + (date.getMonth() + 1), day = '' + date.getDate(), year = date
                .getFullYear(), hours = '' + date.getHours(), minutes = ''
                + date.getMinutes(), seconds = '' + date.getSeconds();

            var created_at = formatdate(year, month, day, hours, minutes,
                seconds);

            if (item['updated_date']) {
                var date_update = new Date(item['updated_date']), month_update = ''
                    + (date_update.getMonth() + 1), day_update = '' + date_update.getDate(), year_update = date_update
                    .getFullYear(), hours_update = '' + date_update.getHours(), minutes_update = ''
                    + date_update.getMinutes(), seconds_update = '' + date_update.getSeconds();
                var updated_at = formatdate(year_update, month_update, day_update, hours_update, minutes_update,
                    seconds_update);

            } else {
                var updated_at = '';
            }
            html += '<tr>'
                +'<td col-name data-id="'+item['id']+'">'+(i +1+ (size*number))+ '</td>'
                + '<td>'
                + item['lastName']
                + '</td><td>'
                + item['firstName']
                + '</td>'
                + '<td style="text-align: center">' + item['username'] + '</td>'
                + '<td style="text-align: center">' + item['email'] + '</td>'
                + '<td>' + created_at + '</td>'
                + '<td>' + updated_at + '</td>'
                + '<td>'
                + '<a title="Sửa" class="btn-edit" data-id="' + item['id'] + '" style="margin-left: 5px;"><i class="fa fa-edit fa-action" aria-hidden="true"></i></a>'
                + '<a title="Xóa" class="btn-delete" data-id="' + item['id'] + '" unit-type="province" style="margin-left: 5px;"><i class="fa fa-trash fa-action" aria-hidden="true"></i></a></td>'
                + '</tr>';
        }
        $('#tbody_data').html(html);
    }


    function save(flag) {
        var validated = $("#form-info").valid();
        if (!validated) {
            return;
        }

        var fullDate = new Date();
        var first_name = $('#first_name').val().trim();
        var email = $('#email').val().trim();
        var last_name = $('#last_name').val().trim();
        var username = $('#username').val().trim();
        var id = $('#modal_hidden_id').val().trim();
        var data = {
            firstName: first_name,
            lastName: last_name,
            email: email,
            username: username

        };
        if (id) {
            data['id'] = id;
        }
        postRequest({
            data: data,
            url: "/admin/saveUser",
            success: function (data) {
                if (id || flag) {
                    closeForm();
                } else {
                    $('#first_name').focus();
                    $('#email').focus();
                    $('#last_name').focus();
                    $('#username').focus();
                    resetFormModal();
                }
                loadListUnit();
                new Toast('success', 'Lưu thành công!');
            },
            error: function (e) {
                new Toast('error', e['message']);
            }
        });
    }

    function closeForm() {
        $('#modalCreate').modal('toggle');
    }

    function resetFormModal() {
        $('#first_name').val('');
        $('#email').val('');
        $('#last_name').val('');
        $('#username').val('');
        $('#modal_hidden_id').val('');
    }

    function validateFormInput() {
        $('#form-info').validate({
            ignore: [],
            errorElement: 'small',
            errorClass: 'data-invalid help-block',
            rules: {
                first_name: {
                    required: true,
                    maxlength: 50,
                },
                last_name: {
                    required: true,
                    maxlength: 50,
                },
                email: {
                    required: true,
                    maxlength: 50,
                    regex: '[^ ]+$',
                    email: true
                },
                username: {
                    required: true,
                    maxlength: 50,
                    regex: '[^ ]+$',
                    minlength: 6
                },
            },
            messages: {
                first_name: {
                    required: 'Tên không được để trống',
                    maxlength: 'Tên không được vượt quá 15 ký tự',
                },
                last_name: {
                    required: 'Họ không được để trống',
                    maxlength: 'Họ không được vượt quá 15 ký tự',
                },
                username: {
                    required: 'Tên người dùng không được để trống',
                    maxlength: 'Tên người dùng không được vượt quá 15 ký tự',
                    regex: 'Tên người dùng không chứa dấu cách',
                    minlength: 'Tên người dùng không được dưới 6 ký tự',
                },
                email: {
                    required: 'Email không được để trống',
                    maxlength: 'Email không được vượt quá 50 ký tự',
                    regex: 'Email không chứa dấu cách',
                    email: 'Email không đúng định dạng'
                }
            }
        }).resetForm();
    }

    function registerEvents() {
        $('#tblUser').on('click', '.btn-edit', viewEditUnit);
        $('#tblUser').on('click', '.btn-delete', deleteUnit);
        $(".search-control").keyup(function (event) {
            if (event.keyCode === 13) {
                search();
            }
        });

    };

    function deleteUnit() {
        var id = $(this).attr('data-id') || 0;
        if (id == 0) {
            return;
        }
        dialogConfirm({
            callback: function () {
                deleteRequest({
                    url: "/admin/deleteUser/" + id,
                    success: function (data) {
                        loadListUnit();
                        new Toast('success', 'Xóa thành công!');
                    },
                    error: function (e) {
                        new Toast('error', e['message']);
                    }
                });
            }
        });
    }

    function viewEditUnit() {
        var id = $(this).attr('data-id') || 0;
        if (id == 0) {
            return;
        }
        getRequest({
            url: "/admin/getUser/" + id,
            success: function (data) {
                cbViewEditUnit(data);
            },
            error: function (e) {
                new Toast('error', e['message']);
            }
        });
    }

    function cbViewEditUnit(data) {
        $('#modal_hidden_id').val(data['id']);
        $('#email').val(data['email']);
        $('#last_name').val(data['lastName']);
        $('#first_name').val(data['firstName']);
        $('#username').val(data['username']);
        openAddModal();
    }

    function update() {
        var fullDate = new Date();

        var email = $('#email').val().trim();
        var last_name = $('#last_name').val().trim();
        var first_name = $('#first_name').val().trim();
        var username = $('#username').val().trim();
        var id = $('#modal_hidden_id').val().trim();

        var data = {
            lastName: last_name,
            firstName: first_name,
        };
        if (id) {
            data['id'] = id;
        }
        postRequest({
            data: data,
            url: "/admin/saveUser",
            success: function (data) {
                $('#first_name').focus();
                $('#last_name').focus();
                $('#email').focus();
                $('#username').focus();
                new Toast('success', 'Lưu thành công!');
            },
            error: function (e) {
                new Toast('error', e['message']);
            }
        });
    }

    /*  function viewUnit() {
         var id = $(this).attr('data-id')||0;
         if(id == 0){
             return;
         }
         window.location = "/datafields/index?cateid="+id;
     } */

    function configFormInput() {
        var id = $('#modal_hidden_id').val().trim();
        if (id) {
            $('#btn_save_close').hide();
            $('#code').attr('readonly', true);
            $('.modal-title').html('Sửa thông tin người dùng');
        } else {
            $('#btn_save_close').show();
            $('.modal-title').html('Thêm mới người dùng');
            $('#code').attr('readonly', false);
        }
    }

    /*]]>*/
</script>