<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout_admin.html}">
<head>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <title>Thông tin đơn vị nội bộ</title>
</head>
<body>
<section layout:fragment="header">
		<span><a href="/admin/index" class="panel"><i
                class="fa fa-home"></i> Home -> </a> <lable id="">Quản lý tài khoản</lable></span>
    <hr class="line_head"/>

</section>
<div layout:fragment="content">
    <div class="box-header with-border">
        <div class="row" style="margin-bottom: 3%">
            <div class="form-inline col-md-4">
                <label class="control-label">Họ và tên:</label> <input
                    type="text" class="form-control search-control" id="txt_code"
                    name="txt_code" autocomplete="off"/>
            </div>
            <div class="form-inline col-md-4">
                <label class="control-label">Username:</label> <input
                    type="text" class="form-control search-control" id="txt_name"
                    name="txt_name" autocomplete="off"/>
            </div>
            <div class="form-inline col-md-4">
                <div style="float: right">
                    <button type="button" class="btn btn-success" tabindex="9"
                            onclick="search()" style="margin-left: 5px; margin-right: 5px;">
                        <i class="fa fa-search"></i> Tìm kiếm
                    </button>
                    <button id="btnNew" type="button" class="btn btn-success"
                            data-toggle="modal" data-target="#modalCreate" tabindex="8">
                        <i class="fa fa-plus"></i> Thêm người dùng mới
                    </button>
                </div>
            </div>
            <!-- <div class="col-md-4 form-inline">

                <button id="btnNew" type="button" class="btn btn-success"
                    data-toggle="modal" data-target="#modalCreate"
                    style="float: right">
                    <i class="fa fa-plus"></i> Thêm
                </button>
            </div> -->
        </div>

        <div class="table-bt table-vb">
            <table
                    class="table table-bordered table-striped table-condensed table-hover tree-unit"
                    style="width: 100%;" id="tblAgency">
                <thead>
                <tr>
                    <th style="width: 4%">#</th>
                    <th style="width: 20%">Tên người dùng</th>
                    <th style="width: 5%">Username</th>
                    <th style="width: 15%">Email</th>
                    <th style="width: 15%">Số điện thoại</th>
                    <th style="width: 15%">Ngày tạo</th>
                    <th style="width: 15%">Ngày cập nhật</th>
                    <th style="width: 16%">Hành động</th>
                </tr>
                </thead>
                <tbody id="tbody_data">
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix" id="paging"></div>

        <div id="modalCreate" class="modal fade" role="dialog ">
            <div class="modal-dialog" style="width: 60%;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button data-dismiss="modal" class="close" type="button"
                                onclick="">
                            <i class="fa fa-times"></i>
                        </button>
                        <div class="uppercase">
                            <h4 class="modal-title"></h4>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-horizontal" id="form-info" name="form-info"
                                      role="form" action="">
                                    <input type="hidden" id="modal_hidden_id" value=""/>
                                    <div class="form-group col-sm-12"
                                         style="display: flex; align-items: left;">
                                        <label class="control-label col-sm-4" id="madv">Mã
                                            đơn vị:<font color="#FF0000">*</font>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="code"
                                                   name="code" autocomplete="off" required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12"
                                         style="display: flex; align-items: left;">
                                        <label class="control-label col-sm-4" for="unit_name">Tên
                                            đơn vị:<font color="#FF0000">*</font>
                                        </label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="name"
                                                   name="name" autocomplete="off" required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12"
                                         style="display: flex; align-items: left;">
                                        <label class="control-label col-sm-4">Mã tài khoản:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="account_id"
                                                   name="account_id" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12"
                                         style="display: flex; align-items: left;">
                                        <label class="control-label col-sm-4">Email:<font
                                                color="#FF0000">*</font></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="email"
                                                   name="email" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12"
                                         style="display: flex; align-items: left;">
                                        <label class="control-label col-sm-4">PID:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="pid"
                                                   name="pid" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12"
                                         style="display: flex; align-items: left;">
                                        <label class="control-label col-sm-4">Version:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="version"
                                                   name="version" autocomplete="off"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align: center">
                            <button id="btn_save" type="button" class="btn btn-primary"
                                    onclick="save()" tabindex="8" style="margin-right: 5px;">
                                <i class="fa fa-save"></i> Lưu
                            </button>
                            <button id="btn_save_close" type="button"
                                    class="btn btn-primary" onclick="save(1)" tabindex="9"
                                    style="margin-right: 5px;">
                                <i class="fa fa-save"></i> Lưu và Đóng
                            </button>
                            <button id="btn_close" type="button" data-dismiss="modal"
                                    class="btn btn-warning" tabindex="10">
                                <i class="fa fa-times"></i> Đóng
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #connected_bgcolor > a {
            color: #1963aa;
            font-weight: bold;
        }

        #connected {
            display: block;
        }

        #connect_user {
            color: #2b7dbc;
            background-color: #fff;
            border-right: 3px solid red
        }

        #fa-left-connected {
            display: none
        }

        #fa-down-connected {
            display: block
        }

        #tableapi {
            with: 80%;
            margin-left: 10%;
        }
    </style>
    <div th:replace="admin_index/index_function"></div>
</div>
</body>
</html>